# No IntelliJ Stuff
.idea

# No virtual environment, requirements.txt is sufficient
venv

# No python caches
__pycache__

# No "persisted" postgres data_
postgres/data/*

# No secrets in git
docker/secrets/*
